
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
   
}
.col{
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:20px;
}

@media only screen and (max-width: 600px) {
    .content{
        grid-template-columns:repeat(1, 1fr);
    }
}
